language: go

go:
  - "1.11.x"

before_script:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $GOPATH/bin $GOLANGCILINT_VERSION
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  
branches:
  only:
  - master
  - "/^v\\d+(\\.\\d+)+$/"

script:
  - golangci-lint run       # run a bunch of code checkers/linters in parallel
  - go test -v -race ./...  # Run all the tests with the race detector enabled
  - GOOS="linux" go build -v -o bin/x86/zipper main.go
  - GOOS="darwin" go build -v -o bin/osx/zipper main.go
  - GOOS="windows" go build -v -o bin/win/zipper.exe main.go
  - GOOS="freebsd" go build -v -o bin/freebsd/zipper main.go

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

before_deploy:
  - zip -r bin/zipper-linux-x86.zip bin/x86/
  - zip -r bin/zipper-osx.zip bin/osx/
  - zip -r bin/zipper-win.zip bin/win/
  - zip -r bin/zipper-freebsd.zip bin/freebsd/
deploy:
  provider: releases
  api_key: "$GITHUB_TOKEN"
  file_glob: true
  file: bin/*.zip
  skip_cleanup: true
  on:
    tags: true